@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400&family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #faf2f2;
    
}
#imgrebeca{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-top: 6%;
    position: inherit;
    /* margin: 4% 4% 0% 4%; */
}
.eu{
    color: white;
    font-family: 'Roboto Flex', sans-serif;

}
.eu h4, h1{
    text-align: center;
    position: inherit;
}

.eu h1{
    font-size: 50px;
}
.eu h4{
    font-size: 30px;
}

main{
    width: 100%;
    margin: 0 auto;
    display: block;
    color: black;
    font-weight: 400;
    position: inherit;
}

.container-fluid.text-start{
    padding: 0;
}

.parallax{
    padding: 0;
    width: 100%;
    height: 100vh !important;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    
}

.parallax:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    /* background: -moz-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #000 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 50%, #000 100%); */
}

p{
    text-align: justify;
    font-size: 15px;
}
main h2{
    text-align: start;
}

header {
    background:  #47416e;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}

#redes img{
    width: 45px;
    height: 45px;
}

.sobre{
    /* background-color: rgb(198, 139, 231); */
    padding: 2%;
    text-align: center;
}

.projetos{
    /* background-color: rgb(198, 139, 231); */
    padding: 3%;
    text-align: start;
}
.tec{
    padding: 2%;
    background-color: #E0AED0;
}
.tec h2{
    font-size: 50px;
    margin-bottom: 5%;
    text-align: center;
    color: white;
}
.tec p{
    margin-top: 20%;
}
.sobre h2{
    font-size: 50px;
    margin-bottom: 4%;
}

.footer{
    padding-top: 3%;
    padding-bottom: 2%;
    color: white;
    background-color: #47416e;
}
.footer h3{
    font-size: 20px;
}
.footer p{
    margin: 0;
    text-align: center;
}

.titulo-projetos h2, img{
    display: inline-block;
}

.titulo-projetos img{
    margin-bottom: 1.5%;
    margin-left: 1%;
}

.projetos h2{
    margin-bottom: 2%;
    font-size: 50px;
}
.projetos h3, h4{
    text-align: start;
}

.myslides img{
    height: 818px;
}

.email img, h3{
    display: inline-block;
    margin-bottom: 1%;
}

.tec h2, #comp{
    display: inline-block;
}

#comp{
    margin-bottom: 2%;
    margin-left: 1%;
}

.formacoes h2, img{
    display: inline-block;
}

.formacoes img{
    margin-bottom: 2%;
}

.info h2, img{
    display: inline-block;
}
.info img{
    margin-bottom: 2.5%;
    margin-left: 1%;
}


.tel img, h3{
    display: inline-block;
}
.tel img{
    margin-left: 1%;
}

.footer h2{
    font-size: 25px;
}
.redes img{
    display: inline-block;
}

.arrow{
    /* margin-top: -10px; */
    position: absolute;
    text-align: center;
    top: 104%;
    width: 100%;
    z-index: 5;
}
.seta{
    position: absolute;
    width: 23px;
    height: 23px;
    margin-top: 2px;
    left: 50%;
    background-image: url("../img/seta.png");
    background-size: contain;
    transform: translateX(-50%);
    animation-name: seta;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes seta{
    0%{
        top: 0px;
    }
    100%{
        top: 8px;
    }
}


@media screen and (max-width: 700px){
    .tec h2{
    text-align: start;
     padding-bottom: 2%;
    }

    #comp{
        margin-bottom: 5%;
    }

    .info img{
        margin-bottom: 4%;
    }

    .titulo-projetos img{
        margin-bottom: 3.5%;
    }

    .tel{
        margin-bottom: 3%;
    }
  }

@media screen and (width: 375px){
    .arrow{
        top: 105.5%;
    }
}
@media screen and (width: 390px){
    .arrow{
        top: 104.5%;
    }
}

@media screen and (width: 360px){
    .arrow{
        top: 104.9%;
    }
}

@media screen and (width: 820px){
    .arrow{
        top: 103.3%;
    }
}
@media screen and (width: 1024px){
    .arrow{
        top: 102.9%;
    }
}

@media screen and (width: 912px){
    .arrow{
        top: 102.9%;
    }
}

@media screen and (width: 540px){
    .arrow{
        top: 105%;
    }
}
@media screen and (width: 280px){
    .arrow{
        top: 106%;
    }
}
@media screen and (width: 1280px){
    .arrow{
        top: 105%;
    }
}